# Editor
*~
*#
# Docker/build
.dockerignore
Dockerfile
docker-compose.*
admin/
# GIT
.git/
*.yml
*.yaml
# OTHER
devspace.yaml
#PHP
composer.phar
vendor/
# NODE
**/node_modules
node_modules/
npm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid*
*.seed*
*.pid.lock*
# PYTHON
__pycache__/
wheels/
pip-log.txt
pip-wheel-metadata/
*.pyc
.venv/

**/postgres/tmp
**/redis/tmp
**/movies

.*env
*.pem
