# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# db tmp
microservices/apps/postgres/tmp
microservices/apps/redis/tmp
microservices/apps/movies
microservices/apps/postgres/prod/data

# nginx cert
api/nginx-apollo/conf/certbot

# OS X
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.local

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
*coverage.xml
*.cover
.hypothesis/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env
.test.env

# virtualenv
.venv
venv/
ENV/
pyenv
requirements*.txt

# Tmp files
.pytest_cache
.benchmarks
.vscode

# dependencies
node_modules
.pnp
.pnp.js

# logs
npm-debug.log*

.wdm
microservices/apps/rarbg/src/app_lib/*image*.jpg
.*env

.junk
*.pem

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
/coverage

# next.js
.next/
out/
build
.swc/
/.next/
/out/

# misc
.DS_Store
*.pem

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.production

# turbo
.turbo

# vercel
.vercel

# PWA
workbox-*.js
sw.js

# ui
dist/

*.crt
*.ca-bundle

*.gz

**/**/public/robots.txt
**/**/public/sitemap*.xml

.contentlayer
