# DB Support
psycopg2-binary
tenacity
sqlalchemy
sqlalchemy-utils
redis

# API Support
ariadne
uvicorn[standard]
gunicorn
pyjwt
bcrypt
pydantic
requests
beautifulsoup4
colorama
cinemagoer
sendgrid

# Test Support
pytest
pytest-benchmark

############ Possible Use cases #################
# gevent==21.1.2
# gunicorn[gevent,setproctitle]==20.1.0

# get system/process data for health checks
# cryptography==3.4.6
# psutil==5.8.0
# setproctitle==1.2.2

# # Notifications Support
# sendgrid==6.7.0
# twilio==6.60.0 #twilio==6.59.0